<html>
<head>WhooMS - the tiny public geotiff wms server</head>
<body>
<h2>WhooMS - the tiny public geotiff wms server</h2>
Files Uploaded So Far <%= @count %> <br /> <br />
No image selected or uploaded, <br />
If you know you uploaded it add a /yourfile.tif to the end of the url.<br />
<a href="/show/exampleonly.tif">For example.</a>
<hr />
<p>About: Made with Sinatra, Ruby, Mapserver Mapscript by Tim Waters tim@geothings.net <br />
Code available at: <a href="http://github.com/timwaters/whooms">github</a></p>
</body>
</html>
